# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables
.env
.env*.local
.env.development
.env.test
.env.production
.agents/

# Common ignores
node_modules
.next/
/out/
/build
.DS_Store
package-lock.json

# Typescript
*.tsbuildinfo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*